audioop-lts==0.2.2
audioread==3.1.0
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
decorator==5.2.1
idna==3.13
joblib==1.5.3
lazy-loader==0.5
librosa==0.11.0
llvmlite==0.47.0
msgpack==1.1.2
numba==0.65.1
numpy==2.4.4
packaging==26.2
platformdirs==4.9.6
pooch==1.9.0
pycparser==3.0
requests==2.33.1
scikit-learn==1.8.0
scipy==1.17.1
soundfile==0.13.1
soxr==1.1.0
standard-aifc==3.13.0
standard-chunk==3.13.0
standard-sunau==3.13.0
threadpoolctl==3.6.0
typing_extensions==4.15.0
urllib3==2.7.0
